<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Workpacks manager</title>
  <style>
    body, html {
      padding: 0;
      margin: 0;
    }

    nav {
      border-bottom: 1px solid #AAA;
    }
    .navList {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .navList li {
      padding: 10px;
      margin: 0;
      display: inline-block;
    }
    .navList li:hover {
      background-color: #EFEFEF;
    }

    a:link {
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: black;
      text-decoration: underline;
    }
    a:active {
      color: black;
      text-decoration: underline;
    }
    
    .dataList th {
      border-bottom: 1px solid #AAA;
    }
    .dataList tr:nth-child(2n+3) {
      background: #DDD;
    }
    
    .workForm input, .workForm textarea {
      display: block;
      width: 100%;
    }
    
    main {
      padding: 10px 0;
    }
  </style>
</head>
<body>
  <nav>
    <ul class="navList">
      <li><a href="/list/work?pass={{pass}}">List workpacks</a></li>
      <li><a href="/list/groups?pass={{pass}}">List groups</a></li>
      <li><a href="/add/work?pass={{pass}}">Add workpack</a></li>
      <li><a href="/add/group?pass={{pass}}">Add group</a></li>
    </ul>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>
</html>