<form action="/add/resource?pass=smartlink" method="POST">

  <input type="hidden" name="id" value="{{resource.id}}">

  <div style="margin: 10px;">
    <label for="r_id">Resource ID</label>
    <input name="r_id" id="r_id" value="{{resource.r_id}}" /></br>
  </div>

  <div style="margin: 10px;">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{resource.name}}" /></br>
  </div>

  <div style="margin: 10px;">
    <label for="type">Type</label>
    <input name="type" id="type" value="{{resource.type}}" /></br>
  </div>

  <div style="margin: 10px;">
    <label for="comp">Grade competency</label>
    <input name="comp" id="comp" value="{{resource.comp}}" /></br>
  </div>

  <div style="margin: 10px;">
    <label for="amount">Amount</label>
    <input name="amount" id="amount" value="{{resource.amount}}" />
    (max in single task: {{resource.maxAmountinTasks}}, total in tasks: {{resource.totalAmountinTasks}})</br>
  </div>

  <div style="margin: 10px;">
    <label for="comment">Comment</label>
    <input name="comment" id="comment" value="{{resource.comment}}" /></br>
  </div>
  
  <input class="button is-primary" type="submit" value="Guardar" />
</form>
