<form action="/add/resource?pass=smartlink" method="POST">

  <input type="hidden" name="id" value="{{resource.id}}">

  <label for="r_id">Resource ID</label>
  <input name="r_id" id="r_id" value="{{resource.r_id}}" />

  <label for="name">Name</label>
  <input name="name" id="name" value="{{resource.name}}" />

  <label for="type">Type</label>
  <input name="type" id="type" value="{{resource.type}}" />

  <label for="comp">Grade competency</label>
  <input name="comp" id="comp" value="{{resource.comp}}" />

  <label for="amount">Amount</label>
  <input name="amount" id="amount" value="{{resource.amount}}" />
  (max in single task: {{resource.maxAmountinTasks}}, total in tasks: {{resource.totalAmountinTasks}})

  <input type="submit" value="Guardar" />
</form>
