<form action="/add/work/{{work.id}}?pass={{pass}}" method="POST" style="display:block;max-width:1000px;margin:auto;position:relative;">
  <input type="submit" value="Guardar tot" style="position: absolute; left: -200px;" />

  <h1 style="color: red;">{{error}}</h1>

  <h2>Basic information</h2>
  <input id="id" type="hidden" name="id" value="{{work.id}}">
  <input id="subid" type="hidden" name="subid" value="{{work.subid}}">

  <input id="oldparent" type="hidden" name="oldparent" value="{{work.parent}}">
  <input id="oldgroup" type="hidden" name="oldgroup" value="{{work.groups_id}}">

  <table class="workForm">
    <tr>
      <td colspan="2">
        <label for="wsb_type">Task type</label>
        <select id="wsb_type" name="wsb_type">
          <option value="Task"{{{isSelected work.wsb_type 'Task'}}}>Task</option>
          <option value="WP with tasks"{{{isSelected work.wsb_type 'WP with tasks'}}}>WP with tasks</option>
          <option value="WP higher level"{{{isSelected work.wsb_type 'WP higher level'}}}>WP higher level</option>
        </select>
    </td>
      <td colspan="2">
        <label for="order">Ordre</label>
        <input id="order" name="order" value="{{work.order}}" />
      </td>
      <td>
        <label for="parent">Parent</label>
        <select id="parent" name="parent">
          <option value="null">NONE</option>
          {{#each parents}}
          <option value="{{this.id}}"{{{this.selected}}}>{{this.wsb_id}}</option>
          {{/each}}
        </select>
      </td>
      <td colspan="2">
        <label for="groups_id">Group</label>
        <select id="groups_id" name="groups_id">
          {{#each group}}
          <option code="{{this.code}}" value="{{this.id}}"{{{this.selected}}}>{{this.code}}: {{this.name}}</option>
          {{/each}}
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label for="wsb_id">WBS ID</label>
        <textarea readonly id="wsb_id" name="wsb_id" rows="5">{{work.wsb_id}}</textarea>
      </td>
      <td colspan="4">
        <label for="activity">Activity</label>
        <textarea id="activity" name="activity" rows="5">{{work.activity}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <label for="description_short">Short description</label>
        <input id="description_short" name="description_short" value="{{work.description_short}}" />
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <label for="description_of_work">Description</label>
        <textarea id="description_of_work" name="description_of_work" rows="5">{{work.description_of_work}}</textarea>
      </td>
    </tr>
    <tr>
      <td>
        <label for="predecessors">Predecessors</label>
        <select multiple id="predecessors" name="predecessors" size="8">
          {{#each predecessors}}
          <option value="{{this.id}}"{{{this.selected}}}>{{this.wsb_id}}</option>
          {{/each}}
        </select>
      </td>
      <td>
        <ul class="no_list" id="predecessors_relation_container">
          {{#each work.predecessors}}
          <li>
            <label for="predecessors_relation_{{this.id}}">Relation {{this.wsb_id}}</label>
            <select id="predecessors_relation_{{this.id}}" name="predecessors_relation_{{this.id}}">
              <option value="FS"{{{isSelected this._pivot_relation 'FS'}}}>Finish-to-Start</option>
              <option value="FF"{{{isSelected this._pivot_relation 'FF'}}}>Finish-to-Finish</option>
              <option value="SS"{{{isSelected this._pivot_relation 'SS'}}}>Start-to-Start</option>
              <option value="SF"{{{isSelected this._pivot_relation 'SF'}}}>Star-to-Finish</option>
            </select>
          </li>
          {{/each}}
        <ul>
      </td>
      <td>
        <ul class="no_list" id="predecessors_lag_container">
          {{#each work.predecessors}}
          <li>
            <label for="predecessors_lag_{{this.id}}">Lag {{this.wsb_id}}</label>
            <input id="predecessors_lag_{{this.id}}" name="predecessors_lag_{{this.id}}" value="{{this._pivot_lag}}" />
          </li>
          {{/each}}
        <ul>
      </td>
      <td>
        <label for="successor">Successor</label>
        <select disabled multiple id="successor" size="8">
          {{#each successors}}
          <option value="{{this.id}}"{{{this.selected}}}>{{this.wsb_id}}</option>
          {{/each}}
        </select>
        {{#each work.successors}}
        <input type="hidden" name="successors" value="{{this.id}}" />
        {{/each}}
      </td>
      <td>
        <ul class="no_list" id="successors_relation_container">
          {{#each work.successors}}
          <li>
            <input type="hidden" name="successors_relation_{{this.id}}" value="{{this._pivot_relation}}" />
            <label for="successors_relation_{{this.id}}">Relation {{this.wsb_id}}</label>
            <select disabled id="successors_relation_{{this.id}}">
              <option value="FS"{{{isSelected this._pivot_relation 'FS'}}}>Finish-to-Start</option>
              <option value="FF"{{{isSelected this._pivot_relation 'FF'}}}>Finish-to-Finish</option>
              <option value="SS"{{{isSelected this._pivot_relation 'SS'}}}>Start-to-Start</option>
              <option value="SF"{{{isSelected this._pivot_relation 'SF'}}}>Star-to-Finish</option>
            </select>
          </li>
          {{/each}}
        <ul>
      </td>
      <td>
        <ul class="no_list" id="successors_lag_container">
          {{#each work.successors}}
          <li>
            <label for="successors_lag_{{this.id}}">Lag {{this.wsb_id}}</label>
            <input readonly id="successors_lag_{{this.id}}" name="successors_lag_{{this.id}}" value="{{this._pivot_lag}}" />
          </li>
          {{/each}}
        <ul>
      </td>
    </tr>
    <tr>
      <td colspan="1">
        <label for="resources">Resources</label>
        <select multiple id="resources" name="resources" size="6">
          {{#each resources}}
          <option value="{{this.id}}"{{{this.selected}}}>{{this.name}}</option>
          {{/each}}
        </select>
      </td>
      <td colspan="1">
        <ul class="no_list" id="resources_amount_container">
          {{#each work.resources}}
          <li>
            <label for="resources_amount_{{this.id}}">Number {{this.name}}</label>
            <input id="resources_amount_{{this.id}}" name="resources_amount_{{this.id}}" value="{{this._pivot_amount}}" />
          </li>
          {{/each}}
        <ul>
      </td>
      <td colspan="2">
        <label for="skill_requirements">Skills</label>
        <textarea id="skill_requirements" name="skill_requirements" rows="5">{{work.skill_requirements}}</textarea>
      </td>
      <td colspan="2">
        <label for="other_required_ressources">Other Ressources</label>
        <textarea id="other_required_ressources" name="other_required_ressources" rows="5">{{work.other_required_ressources}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <label for="type_of_effort">Effort</label>
        <textarea id="type_of_effort" name="type_of_effort" rows="5">{{work.type_of_effort}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <label for="location_performance">Location</label>
        <textarea id="location_performance" name="location_performance" rows="5">{{work.location_performance}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <label for="constrains">Constrains</label>
        <textarea id="constrains" name="constrains" rows="5">{{work.constrains}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <label for="assumptions">Assumptions</label>
        <textarea id="assumptions" name="assumptions" rows="5">{{work.assumptions}}</textarea>
      </td>
    </tr>
  </table>

  <hr/>
  <h2>Time calculations</h2>
  <label for="t_type"></label>
  <select id="t_type" name="t_type">
    <option value="t_p" {{{isSelected work.t_type 't_p'}}}>Parametric</option>
    <option value="t_a" {{{isSelected work.t_type 't_a'}}}>Analogus</option>
    <option value="t_3" {{{isSelected work.t_type 't_3'}}}>Line of three points</option>
  </select>

  <table class="additionalTable" id="t_p">
    <tr>
      <td>
        <label for="t_p_effort_hours">Effort Hours</label>
        <input id="t_p_effort_hours" name="t_p_effort_hours" value="{{work.t_p_effort_hours}}" />
      </td>
      <td>
        <label for="t_p_resource_quantity">Resource Quantity</label>
        <input id="t_p_resource_quantity" name="t_p_resource_quantity" value="{{work.t_p_resource_quantity}}" />
      </td>
      <td>
        <label for="t_p_percentage_avaiable">% Available</label>
        <input id="t_p_percentage_avaiable" name="t_p_percentage_avaiable" value="{{work.t_p_percentage_avaiable}}" />
      </td>
      <td>
        <label for="t_p_performance_factor">Performance Factor</label>
        <input id="t_p_performance_factor" name="t_p_performance_factor" value="{{work.t_p_performance_factor}}" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        El separador de decimals és 1 punt
      </td>
    </tr>
  </table>
  <table class="additionalTable" id="t_a">
    <tr>
      <td>
        <label for="t_a_previous_activity">Previous activity num</label>
        <input id="t_a_previous_activity" name="t_a_previous_activity" value="{{work.t_a_previous_activity}}" />
        <label for="t_a_previous_activity_txt">Previous activity txt</label>
        <input id="t_a_previous_activity_txt" name="t_a_previous_activity_txt" value="{{work.t_a_previous_activity_txt}}" />
      </td>
      <td>
        <label for="t_a_previous_duration">Previous duration num</label>
        <input id="t_a_previous_duration" name="t_a_previous_duration" value="{{work.t_a_previous_duration}}" />
        <label for="t_a_previous_duration_txt">Previous duration txt</label>
        <input id="t_a_previous_duration_txt" name="t_a_previous_duration_txt" value="{{work.t_a_previous_duration_txt}}" />
      </td>
      <td>
        <label for="t_a_current_activity">Current activity num</label>
        <input id="t_a_current_activity" name="t_a_current_activity" value="{{work.t_a_current_activity}}" />
        <label for="t_a_current_activity_txt">Current activity txt</label>
        <input id="t_a_current_activity_txt" name="t_a_current_activity_txt" value="{{work.t_a_current_activity_txt}}" />
      </td>
      <td>
        <label for="t_a_multiplier">Multiplier num</label>
        <input readonly id="t_a_multiplier" name="t_a_multiplier" value="{{work.t_a_multiplier}}" />
        <label for="t_a_multiplier_txt">Multiplier txt</label>
        <input id="t_a_multiplier_txt" name="t_a_multiplier_txt" value="{{work.t_a_multiplier_txt}}" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        El separador de decimals és 1 punt
      </td>
    </tr>
  </table>
  <table class="additionalTable" id="t_3">
    <tr>
      <td>
        <label for="t_3_optimistic_duration">Optimistic duration</label>
        <input id="t_3_optimistic_duration" name="t_3_optimistic_duration" value="{{work.t_3_optimistic_duration}}" />
      </td>
      <td>
        <label for="t_3_mostlikely_duration">Most likely duration</label>
        <input id="t_3_mostlikely_duration" name="t_3_mostlikely_duration" value="{{work.t_3_mostlikely_duration}}" />
      </td>
      <td>
        <label for="t_3_pessimistic_duration">Pessimistic duration</label>
        <input id="t_3_pessimistic_duration" name="t_3_pessimistic_duration" value="{{work.t_3_pessimistic_duration}}" />
      </td>
      <td>
        <label for="t_3_wheighting_equation">Wheighting equation</label>
        <input id="t_3_wheighting_equation" name="t_3_wheighting_equation" value="{{work.t_3_wheighting_equation}}" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        El separador de decimals és 1 punt. </br>
        Per 'Wheighting equations' les variables son o, m, p. Explicitar totes les operacions, pe. 4m no va, fer servir 4*m.
      </td>
    </tr>
  </table>

  <label class="lbl_total" for="t_duration_estimate">Duration Estimate</label>
  <input class="inp_total" readonly id="t_duration_estimate" name="t_duration_estimate" value="{{work.t_duration_estimate}}" />

  <hr/>
  <h2>Cost calculations</h2>
  <label for="c_type"></label>
  <select id="c_type" name="c_type">
    <option value="c_p" {{{isSelected work.c_type 'c_p'}}}>Parametric</option>
    <option value="c_a" {{{isSelected work.c_type 'c_a'}}}>Analogus</option>
    <option value="c_3" {{{isSelected work.c_type 'c_3'}}}>Line of three points</option>
  </select>

  <table class="additionalTable" id="c_p">
    {{#each work.paramCosts}}
    <tr class="c_p_item">
      <td>
        <label for="c_p_variable_cost_{{this.id}}">Variable cost</label>
        <input id="c_p_variable_cost_{{this.id}}" name="c_p_variable_cost_{{this.id}}" value="{{this.variable_cost}}" />
      </td>
      <td>
        <label for="c_p_cost_per_unit_{{this.id}}">Cost per unit</label>
        <input id="c_p_cost_per_unit_{{this.id}}" name="c_p_cost_per_unit_{{this.id}}" value="{{this.cost_per_unit}}" />
      </td>
      <td>
        <label for="c_p_number_of_units_{{this.id}}">Number of units</label>
        <input id="c_p_number_of_units_{{this.id}}" name="c_p_number_of_units_{{this.id}}" value="{{this.number_of_units}}" />
        <input type="hidden" id="c_p_estimate_{{this.id}}" name="c_p_estimate_{{this.id}}" value="{{this.estimate}}" />
      </td>
    </tr>
    {{/each}}
    <tr>
      <td>
        <label for="c_p_variable_cost_new">New variable cost</label>
        <input id="c_p_variable_cost_new" />
      </td>
      <td>
        <label for="c_p_cost_per_unit_new">New cost per unit</label>
        <input id="c_p_cost_per_unit_new" />
      </td>
      <td>
        <label for="c_p_number_of_units_new">New number of units</label>
        <input id="c_p_number_of_units_new" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        El separador de decimals és 1 punt
      </td>
    </tr>
  </table>
  <table class="additionalTable" id="c_a">
    <tr>
      <td>
        <label for="c_a_previous_activity">Previous activity num</label>
        <input id="c_a_previous_activity" name="c_a_previous_activity" value="{{work.c_a_previous_activity}}" />
        <label for="c_a_previous_activity_txt">Previous activity txt</label>
        <input id="c_a_previous_activity_txt" name="c_a_previous_activity_txt" value="{{work.c_a_previous_activity_txt}}" />
      </td>
      <td>
        <label for="c_a_previous_cost">Previous cost</label>
        <input id="c_a_previous_cost" name="c_a_previous_cost" value="{{work.c_a_previous_cost}}" />
      </td>
      <td>
        <label for="c_a_current_activity">Current activity num</label>
        <input id="c_a_current_activity" name="c_a_current_activity" value="{{work.c_a_current_activity}}" />
        <label for="c_a_current_activity_txt">Current activity txt</label>
        <input id="c_a_current_activity_txt" name="c_a_current_activity_txt" value="{{work.c_a_current_activity_txt}}" />
      </td>
      <td>
        <label for="c_a_multiplier">Multiplier</label>
        <input readonly id="c_a_multiplier" name="c_a_multiplier" value="{{work.c_a_multiplier}}" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        El separador de decimals és 1 punt.
      </td>
    </tr>
  </table>
  <table class="additionalTable" id="c_3">
    <tr>
      <td>
        <label for="c_3_optimistic_cost">Optimistic cost</label>
        <input id="c_3_optimistic_cost" name="c_3_optimistic_cost" value="{{work.c_3_optimistic_cost}}" />
      </td>
      <td>
        <label for="c_3_mostlikely_cost">Most likely cost</label>
        <input id="c_3_mostlikely_cost" name="c_3_mostlikely_cost" value="{{work.c_3_mostlikely_cost}}" />
      </td>
      <td>
        <label for="c_3_pessimistic_cost">Pessimistic cost</label>
        <input id="c_3_pessimistic_cost" name="c_3_pessimistic_cost" value="{{work.c_3_pessimistic_cost}}" />
      </td>
      <td>
        <label for="c_3_wheighting_equation">Wheighting equations</label>
        <input id="c_3_wheighting_equation" name="c_3_wheighting_equation" value="{{work.c_3_wheighting_equation}}" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        El separador de decimals és 1 punt. </br>
        Per 'Wheighting equations' les variables son o, m, p. Explicitar totes les operacions, pe. 4m no va, fer servir 4*m.
      </td>
    </tr>
  </table>

  <label class="lbl_total" for="c_cost_estimate">Cost estimate</label>
  <input class="inp_total" readonly id="c_cost_estimate" name="c_cost_estimate" value="{{work.c_cost_estimate}}" />

  <h2>Activity cost estimation</h2>
  <label for="a_e"></label>
  <table class="additionalTable" id="a_e">
    <tr>
      <td>
        <label for="a_e_confidence_level">Confidence level</label>
        <select id="a_e_confidence_level" name="a_e_confidence_level">
          <option value="A"{{{isSelected work.a_e_confidence_level 'A'}}}>A</option>
          <option value="B"{{{isSelected work.a_e_confidence_level 'B'}}}>B</option>
          <option value="C"{{{isSelected work.a_e_confidence_level 'C'}}}>C</option>
        </select>
      </td>
      <td>
        <label for="a_e_indirect_costs">Indirect costs</label>
        <input id="a_e_indirect_costs" name="a_e_indirect_costs" value="{{work.a_e_indirect_costs}}" />
      </td>
      <td>
        <label for="a_e_reserve" style="display: block;">Reserve</label>
        <input readonly id="a_e_reserve" name="a_e_reserve" value="{{work.a_e_reserve}}"  style="display: inline; width: initial;"/>
        %
      </td>
      <td>
        <label for="a_e_estimate">Estimate</label>
        <input readonly id="a_e_estimate" name="a_e_estimate" value="{{work.a_e_estimate}}" />
      </td>
    </tr>
  </table>

  <input type="submit" value="Guardar tot" />
</form>


<script src="/addwork.js"></script>
