<table cellspacing="0" class="dataList table is-narrow is-striped">
  <thead>
    <tr>
      <th>Remove</th>
      <th>Resource ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Grade competency</th>
      <th>Amount</th>
      <th>Max. amount in tasks</th>
      <th>Total amount in tasks</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Remove</th>
      <th>Resource ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Grade competency</th>
      <th>Amount</th>
      <th>Max. amount in tasks</th>
      <th>Total amount in tasks</th>
      <th>Comment</th>
    </tr>
  </tfoot>
  {{#each resource}}
    <tr key="{{this.id}}" class="row">
      <td class="del">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#363636" height="18" viewBox="0 0 24 24" width="18">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </td>
      <td>{{this.r_id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.type}}</td>
      <td>{{this.comp}}</td>
      <td>{{this.amount}}</td>
      <td>{{this.maxAmountinTasks}}</td>
      <td>{{this.totalAmountinTasks}}</td>
      <td>{{this.comment}}</td>
    </tr>
  {{/each}}
</table>

<script>
$('.row').each((key, item) => {
  $(item).on('click', 'td.del', (event) => {
    event.stopPropagation()
    const res = confirm('Segur que te\'l vols carregar per sempre!?')
    if (res) {
      location.href = `/del/resource/${item.getAttribute('key')}${location.search}`
    } else {
      alert('Ja deia jo...')
    }
  })
  $(item).on('click', () => { location.href = `/add/resource/${item.getAttribute('key')}${location.search}` })
})
</script>
