<ul>
  <li><a href="/table/2_1?pass={{pass}}">Table 2.1</a></li>
  <li><a href="/table/3_1?pass={{pass}}">Table 3.1</a></li>
  <li><a href="/table/4_2?pass={{pass}}">Table 4.2</a></li>
  <li><a href="/table/5?pass={{pass}}">Table 5</a></li>
  <li><a href="/table/7?pass={{pass}}">Table 7</a></li>
  <li><a href="/table/8_2?pass={{pass}}">Table 8.2</a></li>
  <li><a href="/table/8_3?pass={{pass}}">Table 8.3</a></li>
  <li><a href="/table/jg?pass={{pass}}">Table JG</a></li>
</ul>