<table cellspacing="0" class="dataList table is-narrow is-striped">
  <thead>
    <tr>
      <th>Remove</th>
      <th>WBS ID</th>
      <th>Activity</th>
      <th>Description</th>
      <th>Predecessors</th>
      <th>Successor</th>
      <th>Resources</th>
      <th>Skills</th>
      <th>Other Ressources</th>
      <th>Effort</th>
      <th>Location</th>
      <th>Constrains</th>
      <th>Assumptions</th>
      <th>Time type</th>
      <th>Time estimate</th>
      <th>Cost type</th>
      <th>Cost estimate</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Remove</th>
      <th>WBS ID</th>
      <th>Activity</th>
      <th>Description</th>
      <th>Predecessors</th>
      <th>Successor</th>
      <th>Resources</th>
      <th>Skills</th>
      <th>Other Ressources</th>
      <th>Effort</th>
      <th>Location</th>
      <th>Constrains</th>
      <th>Assumptions</th>
      <th>Time type</th>
      <th>Time estimate</th>
      <th>Cost type</th>
      <th>Cost estimate</th>
    </tr>
  </tfoot>
  {{#each works}}
    <tr key="{{this.id}}" class="row">
      <td class="del">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#363636" height="18" viewBox="0 0 24 24" width="18">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </td>
      <td><div class="list__content">
        <a href="/add/work/{{this.id}}?pass=smartlink">{{this.wsb_id}}</a>
      </div></td>
      <td><div class="list__content">{{this.activity}}</div></td>
      <td>
        <div class="list__tooltip">{{this.description_of_work}}</div>
        <div class="list__content">{{this.description_of_work}}</div>
      </td>
      <td>
        <div class="list__tooltip">
          <ul>
            {{#each this.predecessors}}<li>{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}})</li>{{/each}}
          </ul>
        </div>
        <div class="list__content">{{#each this.predecessors}}{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}}); {{/each}}</div>
      </td>
      <td>
        <div class="list__tooltip">
          <ul>
            {{#each this.successors}}<li>{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}})</li>{{/each}}
          </ul>
        </div>
        <div class="list__content">{{#each this.successors}}{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}}); {{/each}}</div>
      </td>
      <td>
        <div class="list__tooltip">
          <ul>
            {{#each this.resources}}<li>{{this.name}}({{this._pivot_amount}})</li>{{/each}}
          </ul>
        </div>
        <div class="list__content">{{#each this.resources}}{{this.name}}({{this._pivot_amount}}); {{/each}}</div>
      </td>
      <td><div class="list__content">{{this.skill_requirements}}</div></td>
      <td><div class="list__content">{{this.other_required_ressources}}</div></td>
      <td><div class="list__content">{{this.type_of_effort}}</div></td>
      <td><div class="list__content">{{this.location_performance}}</div></td>
      <td><div class="list__content">{{this.constrains}}</div></td>
      <td><div class="list__content">{{this.assumptions}}</div></td>
      <td><div class="list__content">{{this.t_type}}</div></td>
      <td><div class="list__content">{{this.t_duration_estimate}}</div></td>
      <td><div class="list__content">{{this.c_type}}</div></td>
      <td><div class="list__content">{{this.c_cost_estimate}}</div></td>
    </tr>
  {{/each}}
</table>

<script>
$('.row').each((key, item) => {
  $(item).on('click', 'td.del', (event) => {
    event.stopPropagation()
    const res = confirm('This action will delete this object AND ALL IT\'S DEPENDENTS')
    if (res) {
      location.href = `/del/work/${item.getAttribute('key')}${location.search}`
    }
  })
  $(item).on('click', (event) => {
    const target = $(event.target)
    if (target.is('.list__tooltip') || target.parents('.list__tooltip').length > 0) {
      // Do nothing
    } else {
      location.href = `/add/work/${item.getAttribute('key')}${location.search}`
    }
  })
})
</script>
