<table cellspacing="0" class="dataList">
  <tr>
    <th>Borra</th>
    <th>WBS ID</th>
    <th>Activity</th>
    <th>Description</th>
    <th>Predecessors</th>
    <th>Successor</th>
    <th>Resources</th>
    <th>Skills</th>
    <th>Other Ressources</th>
    <th>Effort</th>
    <th>Location</th>
    <th>Constrains</th>
    <th>Assumptions</th>
    <th>Time type</th>
    <th>Time estimate</th>
    <th>Cost type</th>
    <th>Cost estimate</th>
  </tr>
  {{#each works}}
    <tr key="{{this.id}}" class="row">
      <td class="del">x</td>
      <td><div class="list__content">{{this.wsb_id}}</div></td>
      <td><div class="list__content">{{this.activity}}</div></td>
      <td>
        <div class="list__tooltip">{{this.description_of_work}}</div>
        <div class="list__content">{{this.description_of_work}}</div>
      </td>
      <td>
        <div class="list__tooltip">
          <ul>
            {{#each this.predecessors}}<li>{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}})</li>{{/each}}
          </ul>
        </div>
        <div class="list__content">{{#each this.predecessors}}{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}}); {{/each}}</div>
      </td>
      <td>
        <div class="list__tooltip">
          <ul>
            {{#each this.successors}}<li>{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}})</li>{{/each}}
          </ul>
        </div>
        <div class="list__content">{{#each this.successors}}{{this.wsb_id}}({{this._pivot_relation}} {{this._pivot_lag}}); {{/each}}</div>
      </td>
      <td>
        <div class="list__tooltip">
          <ul>
            {{#each this.resources}}<li>{{this.name}}({{this._pivot_amount}})</li>{{/each}}
          </ul>
        </div>
        <div class="list__content">{{#each this.resources}}{{this.name}}({{this._pivot_amount}}); {{/each}}</div>
      </td>
      <td><div class="list__content">{{this.skill_requirements}}</div></td>
      <td><div class="list__content">{{this.other_required_ressources}}</div></td>
      <td><div class="list__content">{{this.type_of_effort}}</div></td>
      <td><div class="list__content">{{this.location_performance}}</div></td>
      <td><div class="list__content">{{this.constrains}}</div></td>
      <td><div class="list__content">{{this.assumptions}}</div></td>
      <td><div class="list__content">{{this.t_type}}</div></td>
      <td><div class="list__content">{{this.t_duration_estimate}}</div></td>
      <td><div class="list__content">{{this.c_type}}</div></td>
      <td><div class="list__content">{{this.c_cost_estimate}}</div></td>
    </tr>
  {{/each}}
</table>

<script>
$('.row').each((key, item) => {
  $(item).on('click', 'td.del', (event) => {
    event.stopPropagation()
    const res = confirm('This action will delete this object AND ALL IT\'S DEPENDENTS')
    if (res) {
      location.href = `/del/work/${item.getAttribute('key')}${location.search}`
    }
  })
  $(item).on('click', () => { location.href = `/add/work/${item.getAttribute('key')}${location.search}` })
})
</script>
